@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(204, 204, 204);
    justify-content: center;
}
main{
    max-width: 600px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    align-items: center;
}
.login-cointainer{
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
}

.register{
    display: block;
}



h1{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 27px;
}
.main-text{
    margin-bottom: 20px;
}

input{
    margin-bottom: 15px;
}

.reset-password{
    display: block;

}

.login-button{
    display: block;
}

.logos{
    height: 20px;

}

.image-container{
    background-image: url(https://images.unsplash.com/photo-1444723121867-7a241cacace9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80);
}
